/* hero section */
.hero {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    height: 60vh;
}

.hero-ghost {
    width: 100%;
    height: 60vh;
    margin-top: 8vh;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
}

.hero-text {
    position: absolute;
    bottom: 10vh;
    left: 5%;
    width: 88%;
}

.hero-text h1 {
    font-family: 'Melodrama Bold';
    font-size: 72px;
}

.hero-text h1 span {
    font-family: 'Melodrama Light';
}

/* categories list */
.categories, .mob-categories {
    margin-top: 40px;
}

.mob-categories {
    display: none;
}

.categories ul {
    display: flex;
    justify-content: space-around;
}

.categories ul li {
    display: inline-block;
    cursor: pointer;
    opacity: .6;
    font-size: 1.1vw;
    transition: .3s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.categories li.active, .mob-categories div.active {
    cursor: default;
    opacity: 1;
}

.mob-categories div {
    display: flex;
}

.mob-categories div div {
    width: 20%;
    justify-content: center;
    opacity: .6;
    cursor: pointer;
    transition: .3s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.mob-categories .list1 {
    margin-bottom: 20px;
}

.categories ul li:hover, .mob-categories div div:hover {
    opacity: 1;
}

.videos {
    width: 95vw;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'a a';
}

.videos .column {
    width: 100%;
}

.videos .column.one .vid {
    width: 95%;
    margin-left: 5%;
}

.videos .column.two .vid {
    width: 95%;
    margin-right: 5%;
    text-align: right;
}

.videos img {
    width: 95%;
    height: 25vw;
    object-fit: cover;
    border-radius: 20px;
}

.videos .vid {
    position: relative;
    margin-top: 6vw;
}

.videos .caption-txt {
    width: 95%;

    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    border-radius: 20px;
    top: 0;
    text-align: center;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    transition: .3s;
}

.videos .caption-txt:hover {
    opacity: 1;
}

.videos .caption-txt p {
    position: absolute;
    
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;

    font-size: 1.6vw;
    font-family: 'Melodrama Light', sans-serif;
}

.videos .column.two .caption-txt {
    left: 5%;
}

.photos {
    columns: 3 250px;
    gap: 50px;
    width: 90vw;
    margin: 50px auto 0 auto;

}

.pcolumn {
    display: flex;
    flex-direction: column;
    position: relative;
}

.pcolumn .ph img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 50px;
    cursor: pointer;
    transition: .3s;
}

.pcolumn .ph img:hover {
    opacity: .7;
}

.load {
    text-align: center;
    margin: 4vh 0 8vh 0;
}

.load button {
    height: 50px;
    width: 22%;
    border: 1px solid var(--txt);
    background: var(--bg);
    color: var(--txt);
    cursor: pointer;
    transition: .3s;
}

.load button:hover {
    background: var(--txt);
    color: var(--bg);
}

hr {
    width: 90%;
    margin: 0 auto 70px auto;
    border: none;
    border-bottom: 1px solid var(--txt);
}

/* photo title */
.photo-title {
    text-align: center;
    font-family: 'Melodrama Bold';
    text-transform: uppercase;
    font-size: 80px;
    margin-bottom: -20px;
}

/* iPads */
@media screen and (max-width: 1024px) {
    .hero-text h1 {
        font-family: 'Melodrama Bold';
        font-size: 60px;
    }

    .mob-categories {
        display: block;
    }

    .categories {
        display: none;
    }

    .photo-title {
        font-size: 60px;
    }
}

/* For hero text size */
@media screen and (max-width: 702px) {
    .hero-text {
        width: 92%;
    }

    .hero-text h1 {
        font-family: 'Melodrama Bold';
        font-size: 40px;
    }

    .mob-categories div div {
        font-size: 12px;
    }
}

/* Smartphones */
@media screen and (max-width: 480px) {
    .mob-categories div div {
        font-size: 10px;
    }

    .load button {
        width: 150px;
    }
}